<script>
    import AtomToggleButtonBarSampleViewModel from "~/src/view-models/basic-controls/AtomToggleButtonBarSampleViewModel";
    import ToggleBarSampleStyle from "../../../styles/ToggleBarSampleStyle";
</script>
<div view-model="{ this.resolve(AtomToggleButtonBarSampleViewModel) }" 
        style="padding: 10px;">
    <AtomToggleButtonBar
            control-style="{ ToggleBarSampleStyle }"
            label-path="label"
            value-path="value"
            items="{$viewModel.genderList}"
            value="^[$viewModel.gender]"
            style="height:33px;">
    </AtomToggleButtonBar>
    <div 
        style = "font-size: 15px;
                 margin-top: 20px;
                 font-weight: 600" 
        text="['Selected Movie: ' + $viewModel.gender]">
    </div>
</div>