<script>
        import AtomItemsControlSampleViewModel from "~/src/view-models/basic-controls/AtomItemsControlSampleViewModel";
</script>
<div view-model="{ this.resolve(AtomItemsControlSampleViewModel) }"
    style="padding-left: 25px; padding-top: 5px">     
    <div 
        style = "font-size: 15px;
                 color: maroon;
                 font-weight: 600" >
                 Upcoming Movies:
    </div>
    <AtomItemsControl.ol 
        items="[$viewModel.movies.value]">
            <li
                template="itemTemplate">
                    <span 
                        style = "font-size: 15px;
                                font-weight: 600" 
                        atom-text="{$data.name}">
                    </span>
                    <span 
                        style = "font-size: 15px; 
                                font-weight: 400; 
                                padding-left: 15px"
                        atom-text="{'( '+$data.genre+' )'}">
                    </span>
                </li>
    </AtomItemsControl.ol>
</div>