<script>
    import AtomListBoxSampleViewModel from "~/src/view-models/basic-controls/AtomListBoxSampleViewModel";    
import ListBoxStyle from "../../../styles/ListBoxStyle";
import { ListBoxSampleStyle } from "../../../styles/ListBoxSampleStyle";
</script>
<div view-model="{ this.resolve(AtomListBoxSampleViewModel) }" 
    default-style="{ ListBoxSampleStyle }"
    style="padding: 10px;">
    <AtomListBox.div 
        allow-select-first="true"
        items="[$viewModel.movies.value]"
        control-style="{ ListBoxStyle }"
        selected-item="$[viewModel.movie]"
        style=" color:#7e7e7e;
                width: 610px;
                margin-top: 10px;
                border: 1px solid #ccc; ">
            <div template="itemTemplate" 
                 style=" border-bottom: 1px solid #ccc; 
                         border-radius: 0px;
                         padding: 10px">
                <div>
                    <span 
                        style = "font-size: 15px;
                                font-weight: 600" 
                        atom-text="{$data.name + ' ( '+ $data.genre +' )'}">
                    </span>
                </div>
                <div style = "font-size: 15px; 
                            font-weight: 400; 
                            padding-left: 15px;
                            padding-top: 5px"
                     text="{$data.description}">
                </div>
            </div>
    </AtomListBox.div>
    <div 
        style = "font-size: 15px;
                margin-top: 20px;
                font-weight: 600" 
        text="['Selected Item: ' + $viewModel.movie.name]"></div>
</div>    