<script>
    import { ViewStackViewModel } from "./ViewStackViewModel";
</script>
<AtomGridView 
    view-model="{ this.resolve(ViewStackViewModel) }"
    columns="*"
    rows="50, *">

    <div>
        <AtomToggleButtonBar
            items="{ $viewModel.items }"
            value="$[viewModel.index]"></AtomToggleButtonBar>
    </div>

    <AtomViewStack 
        row="1"
        selected-index="[$viewModel.index]">
        <div>View 1</div>
        <div>View 2</div>  
        <div>View 3</div>        
    </AtomViewStack>
</AtomGridView>