<script>
    import MDViewModel from "~src/view-models/MDViewModel";
</script>
<AtomGridView
    columns="*, 5, 200"
    view-model="{ this.resolve(MDViewModel, 'owner') }">

    <div
        class="md-host"
        style="width: 100%; height: 100%;">
    </div>

    <AtomGridSplitter column="1"></AtomGridSplitter>

    <AtomItemsControl 
        column="2"
        items="{ $viewModel.headers }">
        <div
            style="font-size: 14px; margin: 5px;"
            style-padding-left="{ $data.pad + 'px' }"
            template="itemTemplate"
            text="{ $data.label }"
            event-click="{ () => $viewModel.show($data) }"></div>
    </AtomItemsControl>



</AtomGridView>