<script>
    import MenuStyle from "~src\web\styles\MenuStyle";
</script>
<AtomItemsControl.div
    default-style="{ MenuStyle }"
    style-class="{ this.controlStyle.root }"
    items="[ $viewModel.menuService.menus ]"
    style="padding:5px">
    <div 
        template="itemTemplate" 
        event-click="{ () => this.data.click() }">
        <span text="[$data.label]"></span>
        <AtomListBox.div
            style-display="[$data.children ? '' : 'none']"
            items="[$data.children]"
            item-template="{ __creator.itemTemplate }"></AtomListBox.div>
    </div>
</AtomItemsControl.div>